{% extends 'site_base.html' %}
{% load static %}
{# base template for displaying a network graph #}
{# main blocks to extend: pregraph-content, postgraph-content, json-url or graph-init #}

{% block css %}
  {{ block.super }}
  <link href="{% static 'network/css/sigma.css' %}" rel="stylesheet"/>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/sigma/sigma.min.js' %}"></script>
    <script src="{% static 'js/sigma/plugins/sigma.parsers.json.min.js' %}"></script>
    <script src="{% static 'js/sigma/plugins/sigma.layout.forceAtlas2.min.js' %}"></script>
    <script src="{% static 'js/sigma/plugins/sigma.layout.forceLink.min.js' %}"></script>
    {# additional plugins still TBD #}
    {#<script src="{% static 'js/sigma/plugins/sigma.plugins.relativeSize.min.js' %}"></script> #}
    {#<script src="{% static 'js/sigma/plugins/sigma.renderers.edgeLabels.min.js' %}"></script> #}
    <script src="{% static 'network/js/initgraph.js' %}"></script>
{% endblock %}


{% block content %}

{% block pregraph-content %}{% endblock %}

<div id="sigma-container">
  <div id="graph-container"></div>
</div>

{% block postgraph-content %}{% endblock %}

{% block graph-init %} {# extend to override config options #}
<script>
init_sigma_graph({json_url: "{% block json-url %}{% endblock %}"});
</script>
{% endblock %}

{% endblock %} {# content #}