{% extends 'network/graph_base.html' %}
{% load static %}
{# display a network graph for people and places associated with a set of schools #}

{% block pregraph-content %}
<ol class="breadcrumb">
  <li>Networks</li>
  <li>Schools</li>
  <li class="active">Categorized by {{ object_list.0.categorizer_name }}</li>
</ol>

<div class="container">
<h1>Schools categorized by {{ object_list.0.categorizer_name }}</h1>

<p>People, journals, and locations associated with schools as
    categorized by {{ object_list.0.categorizer_name }}.</p>
{# schools available in object_list if we want to list them #}
{% with object_list.0.categorizer as slug %}

{% include 'journals/snippets/download_graph.html' with url_var='network:schools-export' url_var2=slug %}


{% endwith %}
</div>
{% endblock %}

{% block graph-init %}
<script>
init_sigma_graph({
  json_url: "{% url 'network:schools-json' object_list.0.categorizer %}",
  forceLink:  {
     autoStop: true,
     strongGravityMode: true,  {# this graph displays better with stronger gravity #}
     iterationsPerRender: 25,
  }
});
</script>
{% endblock %}
