{% extends 'site_base.html' %}
{% load static %}
{# display a person's egograph #}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/sigma/sigma.min.js' %}"></script>
    <script src="{% static 'js/sigma/sigma.parsers.json.js' %}"></script>
    <script src="{% static 'js/sigma/plugins/sigma.layout.forceAtlas2.min.js' %}"></script>
    {#<script src="{% static 'js/sigma/plugins/sigma.plugins.relativeSize.min.js' %}"></script> #}
    {#<script src="{% static 'js/sigma/plugins/sigma.renderers.edgeLabels.min.js' %}"></script> #}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'people:list' %}">People</a></li>
  <li><a href="{% url 'people:person' person.slug %}">{{ person.firstname_lastname }}</a></li>
  <li class="active">Egograph</li>
</ol>

<p>Download this graph as
  <a href="{% url 'people:egograph-export' person.slug 'gexf' %}">GEXF</a> or
  <a href="{% url 'people:egograph-export' person.slug 'graphml' %}">GraphML</a>
</p>

 <style>
  #sigma-container {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 85vh;
      background: #efefef;
    }
   #graph-container {
      top: 0;
      bottom: 0;
      left: 35px;
      right: 35px;
      position: absolute;
      background: #fff;
    }
  </style>
  <div id="sigma-container">
    <div id="graph-container"></div>
  </div>
<script>

// Instantiate sigma with an empty graph
s = new sigma({
  renderer: {
    container: document.getElementById('graph-container'),
    type: 'canvas'
  }
});

// load graph data via json
sigma.parsers.json("{% url 'people:egograph-json' person.slug %}",
  s,
  function() {
    // init nodes with random placement
    $.each(s.graph.nodes(), function(i, node) {
      node.x = Math.random();
      node.y = Math.random();
      node.size = 1;
      node.color = '#666';
    });
    // set curved edges
    $.each(s.graph.edges(), function(i, edge) {
      edge.type = 'curve';
    });
    console.log(s.graph.edges());

    // adjust node size by degree
    // sigma.plugins.relativeSize(s, 1);
    // NOTE: this works, but ends up with nearly all the nodes
    // being unlabeled because they are so small
    // leaving disabled for now

    // update the graph with the added nodes + edges
    s.refresh();
    // run force atlas layout
    s.startForceAtlas2({worker: true, barnesHutOptimize: false});
    window.setTimeout(function() {
      s.stopForceAtlas2();
    }, 500);
  }
);

</script>

{% endblock %}