{% extends 'site_base.html' %}
{# display details for a single person #}
{% load journal_extras %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'people:list' %}">People</a></li>
  <li class="active">{{ person.firstname_lastname }}</li>
</ol>

<div class="container">

<h1>{{ person.firstname_lastname }}</h1>

<ul class="list-inline">
    <li><a href="{% url 'people:egograph' person.slug %}">view egograph</a></li>
    <li>(download as
        <a href="{% url 'people:egograph-export' person.slug 'gexf' %}">GEXF</a> or
       <a href="{% url 'people:egograph-export' person.slug 'graphml' %}">GraphML</a>)
   </li>
</ul>

{% if person.items_created.all.exists and person.issues_edited.all.exists %}
<div>
    <ul>
        <li><a href="#author">Author</a></li>
        <li><a href="#editor">Editor</a></li>
    <ul>
</div>
{% endif %}


{% if person.items_created.all.exists %}
    <h2><a name="author">Author</a></h2>
{# group by journal then by issue for nested list of items by journal/issue #}
{% regroup person.items_created.all by issue.journal as items_by_journal %}
<ul>
{% for item_group in items_by_journal %}
    {% with journal=item_group.grouper %}
    <li><h3><a href="{% url 'journals:journal' journal.slug %}">{{ journal }}</a></h3>
        <ul>
        {% regroup item_group.list by issue as items_by_issue %}
        {% for issue_items in items_by_issue %}
            {% with issue=issue_items.grouper %}
            <li><h4>{% include 'journals/snippets/issue_link.html' %}</h4>
                <ul>
                    {% for item in issue_items.list %}
                    <p>{{ item }}{% if item.translators.all %}, trans. {{ item.translators.all|readable_list:'firstname_lastname' }}{% endif %}</p>
                    {% endfor %}
                </ul>
            </li>
            {% endwith %} {# end issue group #}
        {% endfor %}
    </ul></li>{# end journal group #}
    {% endwith %}
{% endfor %}
</ul>
{% endif %}

{% if person.issues_edited.all.exists %}
<h2><a name="editor">Editor</a></h2>
{# group issues by journal to generate nested list #}
{% regroup person.issues_edited.all by journal as issues_by_journal %}
<ul>
{% for issue_group in issues_by_journal %}
    {% with journal=issue_group.grouper %}
    <li><h3><a href="{% url 'journals:journal' journal.slug %}">{{ journal }}</a></h3>
    <ul>
        {% for issue in issue_group.list %}
          <p>{% include 'journals/snippets/issue_link.html' with ed_with=person %}</p>
        {% endfor %}
    </ul>
    </li>
    {% endwith %}
{% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}