$blue: #5d6a74;
$red: #cc3700;
$gray: #CBD0D8;
$paper: #F1F1F1;
$white: #FFFFFF;

$accent: $red;

$green: #0aa3aa;
$orange: #d84f05;
$pink: #de03a7;

$translate: $green;
$editor: $orange;
$author: $pink;

$headerFont: 'Josefin Slab',serif;
$accentFont: 'Josefin Sans',Calibri,Arial,sans-serif;
$bodyFont: 'Josefin Sans',Calibri,Arial,sans-serif;