{% extends 'network/graph_base.html' %}
{% load static %}
{# display all contributors to all journals #}

{% block page-subtitle %} | Journals | Contributor Network{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'journals:list' %}">Journals</a></li>
  <li class="active">Contributor Network</li>
{% endblock %}

{% block pregraph-content %}
<h1>Journal Contributors</h1>

{% url 'journals:contributor-network-export' 'graphml' as graphml_url %}
{% url 'journals:contributor-network-export' 'gml' as gml_url %}
{% include 'network/snippets/download_graph.html' %}
{% endblock %}

{% block graph-controls %}
<div>
    <h4>Filter by School</h4>
    <div class="radio" id="school-radio">
        <label>
            <input type="radio" name="school-filter" id="all-schools" value="" checked="checked"/>
            All Schools
        </label>
    </div>
    <!-- <select id="node-school">
        <option value="" selected>All schools</option>
    </select> -->
</div>
<div>
  <h4>Color by:</h4>
  <div class="radio">
    <label>
      <input type="radio" name="graph-colors" id="color-by-community" value="community" checked="checked"/>
      Detected Communities
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="graph-colors" id="color-by-type" value="type"/>
      Node/Edge Type
  </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="graph-colors" id="color-by-school" value="type"/>
      School
  </label>
  </div>
</div>
{% endblock %}

{% block graph-init %}
<script>

var s = init_sigma_graph({
  json_url: "{% url 'journals:contributor-network-json' %}",
  sigma: {
      labelThreshold: 10,
      drawEdgeLabels: false,  {# graph is too large for edge labels, unless we can customize by zoom level #}
  },
  styles: {
      nodes: {
        size: {
          min: 0.5,
        },
      }
    }
});


// coloring by community must happen after graph:design_applied,
// because otherwise node-type colors override community colors
$('#graph-container').on('graph:design_applied', function() {
    // community detection for the contributer network is now handled
    // server-side; nodes should include a community number which can
    // be used to set colors

    // TODO: should colors be handled server-side as well?

    // placeholder colors for now
    var colors = ["#a6cee3","#1f78b4","#b2df8a","#33a02c","#fb9a99","#e31a1c","#fdbf6f","#ff7f00","#cab2d6","#6a3d9a","#ffff99","#b15928"];
    // network colors from resonance design
    var colors = ["#004052", "#996628", "#e5c951",
      "#bc1626", "#0aa3aa", "#d84f05",
      "#11203d" ,"#872675", "#577469",
      "#0c7549", "#28236b", "#de03a7",
      "#a2d23a", "#ffa700"];

    // NOTE: should we set edges to use source node color (or gray?)
    // when nodes are colored based on community?

    function color_edges_by_source() {
      s.graph.edges().forEach(function(edge) {
        edge.color = s.graph.nodes(edge.source).color;
      });
    }

    // initialize list of schools and color by school key
    var schools = [];
    function init_schools() {
      s.graph.nodes().forEach(function(node) {
        if (node.schools) {
          node.schools.forEach(function(school){
            if (schools.indexOf(school) == -1) {
              schools.push(school);
            }
            // TODO: handle multiple schools
            node.school_index = schools.indexOf(school);
          });
        }
      });
      // create color key menu
      var school_key = $('<div/>').attr('id', 'school-color-key');
      school_key.append($('<h4>Schools</h4>'));
      var school_key_dl = $('<dl class="graph-colors" id="school-colors"/>');
      schools.forEach(function(school) {
        var idx = schools.indexOf(school);
        school_key_dl.append($('<dt style="background-color:' + colors[idx] + '"/>'));
        school_key_dl.append($('<dd>' + school + '</dd>'));
      })
      school_key.append(school_key_dl);
      var menu = $('#graph-color-key').parent();
      menu.append(school_key);
    }
    init_schools();

    // color nodes based on their community
    function color_by_community() {
      console.log('color by community');
      s.graph.nodes().forEach(function(node) {
        // server-side community detection currently set as community attribute
        node.color = colors[node.community];
      });
        color_edges_by_source();
      // hide color keys since they aren't relevant
      $("#graph-color-key").slideUp();
      $("#school-color-key").slideUp();
      // refresh sigma renderer
      s.refresh({skipIndexation: true});
    }
    color_by_community();

    function color_by_school() {
      s.graph.nodes().forEach(function(node) {
        if (!isNaN(node.school_index)) {
          node.color = colors[node.school_index];
        } else {
          // node.color = "#ABABAB";
          node.color = 'rgba(128, 128, 128, 0.5)';  // partially transparent gray
        }
      });
      color_edges_by_source();
      $("#school-color-key").slideDown();
      // hide color key since it isn't relevant
      $("#graph-color-key").slideUp();
      // refresh sigma renderer
      s.refresh({skipIndexation: true});
    }

    // add triggers to switch to color by community or school
    $('#graph-container').on('graph:color_by_community', color_by_community);
    $('#graph-container').on('graph:color_by_school', color_by_school);

    /* Set up the filter nodes by school. I put it here instead of in an `on graph:data_loaded`
       so I could use the array of schools that exists here. If we start adding more filters,
       we might want to refactor to build the array of schools in a scope that both
       can user without createing it multiple times.
    */

    var filter = sigma.plugins.filter(s);

    // node school
    var nodeSchoolElt = document.getElementById("node-school");
    var schoolFilterElm = document.getElementById("school-radio");
    schools.forEach(function(school) {
        // Create the radio buttons.
        var label = document.createElement("label"),
            radio = document.createElement("input");
        radio.setAttribute('type', 'radio');
        radio.setAttribute('name', 'school-filter');
        radio.setAttribute('id', school.toLowerCase().replace(/[^\w-]+/g,'-') + '-filter');
        radio.setAttribute('value', school);

        label.appendChild(radio);
        label.appendChild(document.createTextNode(school));
        schoolFilterElm.appendChild(label);
    });

    function applySchoolFilter(selection){
        var selectedSchool = selection.target.value;
        if (!selectedSchool) {
            filter.undo('schools').apply();
        } else{
                filter
                .undo('schools')
                .nodesBy(function(node){
                    if (node.schools){
                        // `indexOf` retuns `-1` if the string isn't found in the array.
                        return node.schools.indexOf(selectedSchool, 0) != -1;
                    } else {
                        return false;
                    }
            }, 'schools')
            .apply();}

    }

    schoolFilterElm.addEventListener("change", applySchoolFilter);

});

$('#color-by-type').on("click", function() {
    $('#graph-container').trigger('graph:reapply_design');
    $("#graph-color-key").slideDown();
    $("#school-color-key").slideUp();
    s.refresh({skipIndexation: true});
});

$('#color-by-community').on("click", function() {
    $('#graph-container').trigger('graph:color_by_community');
});

$('#color-by-school').on("click", function() {
    $('#graph-container').trigger('graph:color_by_school');
});

</script>
{% endblock %}
