{% extends 'site_base.html' %}
{# display details for a single issue in a journal #}
{% load journal_extras %}

{% block page-subtitle %} | Journals | {{ issue.journal.title }} | {{ issue.label }}{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'journals:list' %}">Journals</a></li>
  <li><a href="{% url 'journals:journal' issue.journal.slug %}">{{ issue.journal.title }}</a></li>
  <li class="active">{{ issue.label }}</li>
{% endblock %}

{% block content %}
<h1><a href="{% url 'journals:journal' issue.journal.slug %}">{{ issue.journal.title }}</a></h1>

{% include 'journals/snippets/issue_nextprev.html' %}

<div class="j-issues">

<h2>{{ issue.label }} ({{ issue.date }})</h2>

{# editors #}
{% with editors=issue.editors.all %}
{% if editors %}
{% for editor in editors %}
 <a href="{{editor.get_absolute_url}}">{{editor.firstname_lastname}}</a>{% if editors.count == 1 %}{% elif forloop.counter == editors.count %}{% else %},{% endif %}
  {% endfor %}
{% endif %}
{% endwith %}

{# contributing editors #}
{% with editors=issue.contributing_editors.all %}
{% if editors %}
{% for editor in editors %}
 <a href="{{editor.get_absolute_url}}">{{editor.firstname_lastname}}</a>{% if editors.count == 1 %}{% elif forloop.counter == editors.count %}{% else %},{% endif %}
  {% endfor %}
{% endif %}
{% endwith %}

{# publication address #}
{% if issue.publication_address %}
<p>Published at {{ issue.publication_address.display_label }}</p>
{% endif %}

{# print address #}
{% if issue.print_address %}
<p>Printed at {{ issue.print_address.display_label }}</p>
{% endif %}

{# price #}
{% if issue.price %}
<p>Price per issue: ${{ issue.price }}</p>
{% endif %}

<div class="toc">
    <div class="toc-header">
      <span>Start Page</span>
      <span>End Page</span>
      <span>Contents</span>
    </div>
{% for item in issue.item_set.all %}
  <ul>
    <li>{{ item.start_page }}</li>
    <li>{{ item.end_page }}</li>
    <li>{{ item.title }}{% if item.creatorname_set.exists or item.translators.exists %},{% endif %}
      {% if item.creatorname_set.exists %}
      {% for cn in item.creatorname_set.all %}
        <a href="{{ cn.person.get_absolute_url }}">{{ cn.person.firstname_lastname }}</a>{% if cn.name_used %} (as {{ cn.name_used }}){% endif %}{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% endif %}
      {% if item.translators.exists %}
       trans. {{ item.translators.all|readable_list:'firstname_lastname' }}
      {% endif %}
    </li>
  </ul>

{% endfor %}
</div> {# j-issues #}


  <div class="j-image">

{% comment %}   <picture>
      <source srcset="beatitude-issue-9-img.png" media="(max-width: 320px)" class="img-responsive">
      <source srcset="beatitude-issue-9-img.png" class="img-responsive">
      <img srcset="beatitude-issue-9-img.png" alt="My default image" class="img-responsive">
    </picture>{% endcomment %}
  </div>

{% include 'journals/snippets/issue_nextprev.html' %}

</div>
{% endblock %}

