{% extends 'site_base.html' %}
{# display details for a single journal #}

{% block page-subtitle %} | Journals | {{ journal.title }}{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'journals:list' %}">Journals</a></li>
  <li class="active">{{ journal.title }}</li>
{% endblock %}

{% block content %}
<h1>{{ journal.title }}</h1>
{# Not currently displayed, but publisher, URI and ISSN available for some journals #}
<div class="col-md-6">
    <div class="j-issues">
    <ul>
    {% for issue in journal.issue_set.all %}
        <li class="j-issue-li">{% include 'journals/snippets/issue_link.html' %}</li>
    {% endfor %}
    </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="j-image">
        <img src="{{ journal.image.large.url }}" class="img-responsive">
    </div>
</div>

{# NOTE: layout doesn't work right without the image block #}

</div>

{% endblock %}

