{% extends 'site_base.html' %}
{# display details for a single journal #}

{% block content %}
<div class="container">
{% with object as journal %}
<h1>{{ journal.title }}</h1>

{# Not currently displayed, but publisher, URI and ISSN available for some journals #}

<ul>
{% for issue in journal.issue_set.all %}
    <li>
        <a href="#">{{ issue.label}}</a>
            ({{ issue.publication_date }}),

        {% with editors=issue.editors.all %}
           {% if editors %}
           ed. {% for ed in editors %}
               {{ ed.first_name }} {{ ed.last_name }}{% if forloop.revcounter == 2 and forloop.counter >= 1 %} and {% elif not forloop.last %}, {% endif %}
           {% endfor %}
           {% endif %}
        {% endwith %}

    </li>
{% endfor %}
</ul>

{% endwith %}
</div>
{% endblock %}

