{% extends 'site_base.html' %}
{# display details for a single journal #}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'journals:list' %}">Journals</a></li>
  <li class="active">{{ journal.title }}</li>
</ol>

<div class="container">

<h1>{{ journal.title }}</h1>

{# Not currently displayed, but publisher, URI and ISSN available for some journals #}

<ul>
{% for issue in journal.issue_set.all %}
    <li>{% include 'journals/snippets/issue_link.html' %}</li>
{% endfor %}
</ul>

</div>
{% endblock %}

