        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                <li class="sidebar-brand">
                    <a href="{% url 'site-index' %}">
                        Networking the <strong>New American Poetry</strong>
                    </a>
                </li>
                <ul>
                    <li>
                        <a href="{% url 'about' %}">Learn About the Project</a>
                    </li>
                    <li>
                        <a href="{% url 'journals:list' %}">Browse the Journals</a>
                    </li>
                    <li>
                        <a href="{% url 'people:list' %}">Journal Contributors</a>
                    </li>
                    <li>
                        <a href="{% url 'network:index' %}">View the Connections</a>
                    </li>
                    <li>
                        <a href="{% url 'download' %}">Download the Data</a>
                    </li>
                    {% if user.is_staff %} {# admin link for logged-in staff #}
                    <li>
                      <a href="{% url 'admin:index' %}" title="Admin">Admin <i class="fa fa-cog"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
