/* styles for sigma.js network graphs */
#sigma-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 85vh;
  background: #efefef;
}
#graph-container {
  top: 0;
  bottom: 0;
  left: 35px;
  right: 35px;
  position: absolute;
  background: #fff;
}
#graph-status {
  font-size: 35px;
  position: fixed;
  line-height: 300px;
  vertical-align: middle;
  z-index: 3;
  width: 100%;
  text-align: center;
}

#graph-status .status {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .5);
}