{% extends 'page_base.html' %}

{% block page-subtitle %} | Credits{% endblock %}

{% block content-title %}Credits{% endblock %}

{% block breadcrumb-links %}
  <li class="active">Credits</li>
{% endblock %}

{% block page-content %}
<p>Schooling Donald Allen is a collaboration between the <a href="http://digitalscholarship.emory.edu/">Emory Center for Digital Scholarship</a> (ECDS) and the <a href="http://rose.library.emory.edu/collections/literature-poetry/danowski-library.html">Raymond Danowski Poetry Library</a> of the <a href="http://rose.library.emory.edu/">Stuart A. Rose Manuscript, Archives &amp; Rare Book Library</a>.</p>

<p>The project site and network graphs are built with <a href="https://github.com/emory-libraries-ecds/zurnatikl/">zurnatikl</a>, a Django web application created to investigate and analyze the networks among journal contributors such as authors, editors, and translators.</p>

<p>Schooling Donald Allen was proposed and developed by Lisa Chinn, Brian Croxall, and Rebecca Sutton Koeser.</p>

<ul>
<li>Kevin Young, Curator of the Raymond Danowski Poetry Library, MARBL</li>
<li>Rebecca Sutton Koeser, Technical Lead, Senior Software Engineer, LITS, 2014-2015</li>
<li>Brian Croxall, Project Lead, 2014-2015</li>
<li>Lisa Chinn, Research Lead, 2014-2015</li>
<li>Anne Donlon, Project Coordinator and Software Development Product Owner, 2015</li>
<li>Kevin Glover, Senior Software Engineer, LITS, site design and style consultant, 2015</li>
<li>Alex Zotov, Senior Software Engineer, LITS, site development and implementation, 2015</li>
<li>Aaron Goldsman, Researcher, 2015</li>
<li>Sarah Harsh, Researcher, 2015</li>
<li>Kristian Serrano, Lead Web Developer, Library Core Systems, site architecture consultant</li>
</ul>

<p>Alex Thomas (Senior Software Engineer, LITS) created the admin interface for data collection.</p>

<p>Data collection was completed by Lisa Chinn, Brian Croxall, Emily Leithauser, Sumita Chakraborty, Jonathan Potter, Vanessa Felso, and Rhett Henry.</p>

<p>The website design is by <a href="http://withresonance.com/">Resonance Marketing</a>.</p>

<p>Thanks to Allen Tullos, Wayne Morse, and all who helped with the project.</p>
{% endblock %}
