{% extends 'page_base.html' %}

{% block page-subtitle %} | Credits{% endblock %}

{% block content-title %}Credits{% endblock %}

{% block breadcrumb-links %}
  <li class="active">Credits</li>
{% endblock %}

{% block page-content %}
<p><em>Networking the New American Poetry</em> is a collaboration between the <a href="http://digitalscholarship.emory.edu/">Emory Center for Digital Scholarship</a> (ECDS) and the <a href="http://rose.library.emory.edu/collections/literature-poetry/danowski-library.html">Raymond Danowski Poetry Library</a> of the <a href="http://rose.library.emory.edu/">Stuart A. Rose Manuscript, Archives &amp; Rare Book Library</a>. It was proposed and developed by Lisa Marie Chinn, Brian Croxall, and Rebecca Sutton Koeser.</p>

<h3>Platforms, Libraries, and Technologies</h3>
<ul>
  <li>Python</li>
  <li>Django</li>
  <li>python-igraph</li>
  <li>Linkcurious.js / Sigma.js</li>
  <li>Twitter Bootstrap</li>
</ul>

<h3>Project Contributors</h3>

<ul>
  <li>Kevin Young, <em>Curator</em></li>
  <li>Rebecca Sutton Koeser, <em>Technical Lead</em>, <em>Senior Software Engineer, LITS</em>, 2014-2016</li>
  <li>Brian Croxall, <em>Project Lead</em>, 2014-2015</li>
  <li>Lisa Chinn, <em>Research Lead</em>, 2014-2015</li>
  <li>Anne Donlon, <em>Project Coordinator and Software Development Product Owner</em>, 2015</li>
  <li>Bryan Chitwood, <em>Project Coordinator and Software Development Product Owner</em>, 2016; <em>Researcher</em>, 2014</li>
  <li>Kevin Glover, <em>Senior Software Engineer, LITS</em>, site design and style consultant, 2015</li>
  <li>Alex Zotov, <em>Senior Software Engineer, LITS</em>, site development and implementation, 2015</li>
  <li>Aaron Goldsman, <em>Researcher</em>, 2015</li>
  <li>Sarah Harsh, <em>Researcher</em>, 2015</li>
  <li>Kristian Serrano, <em>Lead Web Developer, Library Core Systems</em>, site architecture consultant</li>
  <li>Alex Thomas <em>Senior Software Engineer, LITS</em>, creation of the admin interface for data collection</li>
</ul>

<p>
  Data collection was completed by Sumita Chakraborty, Lisa Chinn, Bryan Chitwood, Brian Croxall, Vanessa Felso, Rhett Henry, Emily Leithauser, and Jonathan Potter.
</p>

<p>
  Peer review was completed on the “About” and “Networks” pages by Walter B. Kalaidjian, Professor, Department of English, Emory University.
</p>

<p>
  Many thanks to ECDS Co-directors Wayne Morse and Allen Tullos, and to all who helped with the project.
</p>

<h3>Software Developed</h3>
<p>
  The project site and network graphs are built with <a href="https://github.com/emory-libraries-ecds/zurnatikl/" alt="zurnatikl">zurnatikl</a>, a Django web application designed by Emory developers to investigate and analyze the networks among journal contributors such as authors, editors, and translators.
</p>

<h3>Contributing Authors</h3>
<p>
  Lisa Marie Chinn, Bryan C. Chitwood, Brian Croxall, Anne Donlon, Aaron Goldsman, Sarah Harsh, Rebecca Sutton Koeser, and Kevin Young.
</p>

<h3>Presentations</h3>

<p>
  “Schooling Donald Allen: Re-Locating Mid-Century American Poetry Networks,” CSDH-SCHN / ACH Conference, Ottawa, Ontario, June 2015 (Brian Croxall, Lisa Marie Chinn, and Rebecca Sutton Koeser)
</p>

<p>
  “Schooling Donald Allen: Re-Locating Mid-Century American Poetry Networks,” DHSI Colloquium, Victoria, British Columbia, June 2015 (Brian Croxall, Lisa Marie Chinn, Rebecca Sutton Koeser)
</p>
{% endblock %}
