{% extends 'page_base.html' %}

{% block page-subtitle %} | Legal{% endblock %}

{% block content-title %}Legal{% endblock %}

{% block breadcrumb-links %}
  <li class="active">Legal</li>
{% endblock %}

{% block page-content %}

<p>
  <em>Networking the New American Poetry</em> provides archival resources and scholarly interpretations based on fair use and transformative uses of journal images (such as cover illustrations) and journal text content (such as tables of contents), which have been derived from little magazines held by the Danowski Poetry Library at the Stuart A. Rose Manuscript, Archives, & Rare Book Library, Emory University.
</p>

<p>
  This website and its contents are protected by copyright, Copyright © 2013-2016 by Emory University.
</p>

<h3>Preferred Citation</h3>
<p>
  Raymond Danowski Poetry Library: Digital Danowski. <em>Networking the New American Poetry</em>. Emory University, 2016. https://danowski.library.emory.edu/nnap
</p>

{% endblock %}
