{% load static %} {% load eultheme %} {% load widget_tweaks %}
{# based on eultheme/site_base.html in part #}
{% comment %}
NOTE: This site uses RDFa and schema.org vocabulary.  Every page will be declared as schema:Webpage
by default; use page_rdf_type to override with a webpage subclass.
{% endcomment %}
<!DOCTYPE html>
<html lang="en" xmlns:schema="http://schema.org/" xmlns:og="http://ogp.me/ns#">
  <head>
    <title>{% block page-title %}Schooling Donald Allen{% block page-subtitle %}{% endblock %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    {% comment %}
    <meta name="description" content="">
    <meta name="author" content="">
    {% endcomment %}

    <!-- Latest compiled and minified CSS will probably want to change it to local -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {# todo: check version #}
    <link href="{% static 'eultheme/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link href="{% static 'eultheme/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- old -->

    {% block metadata %}{% endblock %}

    {% block favicon %} {# old design; updated favicon still todo #}
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.ico' %}" />
    {% endblock %}

    <!-- Bootstrap -->
    {# <link href="{% static 'eultheme/css/selectize.css' %}" rel="stylesheet"/> #}
    {# FIXME: eultheme navbar styles conflict with resonance navbar styling #}
    {# <link href="{% static 'eultheme/css/eultheme.css' %}" rel="stylesheet"/> #}
    {# local styles (pre-resonance, graphs) #}
    <link href="{% static 'css/local.css' %}" rel="stylesheet"/>

    {% block css %}{% endblock %} {# add per-page css here #}

    {% block head_extras %}{% endblock %}  {# any header metadata, etc #}
  </head>
  <body class="{% block body_class %}{% endblock %}"{% block body_attrs %}{% endblock %}>

  {# TODO: snippetize this in eultheme for easy inclusion in non-standard base-templates #}
    {% block beta_banner %}
      {% if ENABLE_BETA_WARNING %}
      <div class="ribbon beta-warning fade">
        <h2>This site is in <code>BETA</code></h2>
        <p>Content may change or be removed without warning.</p>
        <button class="btn btn-default">OK</button>
      </div>
      {% endif %}
    {% endblock %}

    {# downtime banner from eultheme; TODO: move logic into snippet so it can just be included #}
    {% block mx_banner %}
      {% if banner %}
      {% include 'mx/banner.html' %}
      {% endif %}
    {% endblock %}

    <div id="wrapper">
      {% include 'snippets/nav-sidebar.html' %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" id="menu-toggle"><span class="fa fa-bars"></span></a>
            <div class="container-fluid fill">
            {% block content %}{% endblock %}
            </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->


{% comment %}   old design

    {# header #}
    <div class="container">
      <div class="main-content">
        <!-- HEADER -->
      <div class="header">
{% endcomment %}
  {# suppress header for now; takes up too much network graph space, and design is being revisited #}
      {% comment %}
        <div class="logo">
          <a href="{% url 'site-index' %}">
            <picture>
            {# FIXME: this picture tag use is useless, right? #}
                <source srcset="{% static 'images/SDAlogo.png' %}" class="img-responsive">
                <img srcset="{% static 'images/SDAlogo.png' %}" alt="" class="img-responsive">
            </picture>
          </a>
        </div>
        <div class="banner-image">
        {# randomized banner image set via context processor #}
          <picture>
              <source srcset="{{ banner_image.image.banner_sm.url }}" media="(max-width: 320px)" class="img-responsive">
              <source srcset="{{ banner_image.image.banner.url }}" class="img-responsive">
              <img srcset="{{ banner_image.image.banner.url }}" alt="{{ banner_image.alt_text|default:'' }}"
                title="{{ banner_image.title }}" class="img-responsive">
          </picture>
        </div>
              {% endcomment %}

{% comment %}   more old design
      </div>
      <!-- END HEADER -->
    <div class="bootstrap_container">

    <!-- MENU -->
      <nav class="navbar navbar-default w3_megamenu" role="navigation">
                <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"></a>
        </div>
            <div id="defaultmenu" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             <li class="dropdown w3_megamenu-fw"><a href="{% url 'site-index' %}" class="dropdown-toggle">Home</a></li>
             <li class="dropdown w3_megamenu-fw"><a href="{% url 'about' %}" class="dropdown-toggle">About</a></li>
             <li class="dropdown w3_megamenu-fw"><a href="{% url 'journals:list' %}" class="dropdown-toggle">Journals</a></li>
             <li class="dropdown w3_megamenu-fw"><a href="{% url 'people:list' %}" class="dropdown-toggle">People</a></li>
            <li class="dropdown w3_megamenu-fw"><a href="{% url 'network:index' %}" class="dropdown-toggle">Networks</a></li>
            <li class="dropdown w3_megamenu-fw"><a href="{% url 'about' %}#DigitalDanowski" class="dropdown-toggle">Digital Danowski</a></li>
            <li class="dropdown w3_megamenu-fw"><a href="{% url 'download' %}" class="dropdown-toggle">Download</a></li>

            {% if user.is_staff %} {# admin link for logged-in staff #}
               <li><a href="{% url 'admin:index' %}" title="Admin"><i class="fa fa-cog"></i></a></li>
            {% endif %}

            <li class="dropdown w3_megamenu-fw">
            {% if search_form %}
            <form class="form-search navbar-search pull-right" role="form" method="GET" action="{% url 'journals:search' %}">
                <label class="sr-only" for="{{ search_form.keyword.name }}">{{ search_form.keyword.label }}</label>
                {% render_field search_form.keyword class+="searchform" placeholder='Search' data-toggle="tooltip" data-placement="bottom" data-animation="true" autocomplete="off" data-original-title=search_form.keyword.help_text %}
                  <button type="submit" class="btn btn-search">
                    <span><i class="fa fa-search"></i></span>
                 </button>
            </form>
           {% endif %} {# search form #}
           </li>
          </ul>
        </div>
        </nav>
      <!-- END MENU -->
  </div>
  {% endcomment %}
  {# FIXME: sr-only nav in eultheme, none in resonance design? #}
  {# TODO: admin link in eultheme, where to add in resonance design ? #}
  {% comment %}
    {% if user.is_staff %}
      <li><a href="{% block admin-url %}{% url 'admin:index' %}{% endblock %}">Admin</a></li>
    {% endif %}
  {% endcomment %}



  {# FIXME: do we have/expect any messages in front-end of this site? #}
  {% block message %}
    {% if messages %} {# default display of django messages, when present #}
    <div class="messages">
        {% for message in messages %} {# should work for success, info, warning #}
        <p {% if message.tags %} class="{{ message.tags|messagetag_css }}"{% endif %}>{{ message|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}
  {% endblock %}

{% comment %}   more old design
  <div class="main-secondary main "> {# needed for all pages except site index (?) #}
   <div class="container">
    <div class="col-centered">
    {% block content %}{% endblock %}
    </div>
    </div>
  {% block content_full %}{% endblock %}
  </div>

{% endcomment %}

{% comment %}
  {# new design doesn't include a footer; can we adapt eultheme footer ? #}
    <div class="container footer">
      <hr/>
      <div class="col-xs-12 col-sm-10">
      <p id="sw_version">{{ SW_VERSION }}</p>
      {% block footer-content %}{% endblock %}
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="lits">
        <p>Powered by:</p>
        <img src="{% static 'eultheme/img/LITS-logo-bk.png' %}"/>
      </div>
    </div>
    </div>

{% endcomment %}

      <!-- jQuery -->
      <!-- jQuery  -->
      {% if EULTHEME_NO_EXTERNAL_JS %}  {# use local copy when requested #}
      <script src="{% static 'eultheme/js/jquery.min.js' %}"></script>
      {% else %}
      <script src="https://code.jquery.com/jquery.min.js"></script>
      {% endif %}
      {# TODO: check version #}
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript will probably want to change to local-->
      {# // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> #}
      <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
      </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'eultheme/js/bootstrap.min.js' %}"></script>
    {#<script src="{% static 'eultheme/js/selectize.js' %}"></script> #}
    <script src="{% static 'eultheme/js/eultheme.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/local.js' %}"></script>
    {% comment %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.search-form input').tooltip();
    });
    </script>
    {% endcomment %}
    {% block javascript %}{% endblock %} {# add any additional javascript here #}

    </body>
</html>
