/*
*   Hide the object labels on the tabular inline display
*/
td.original p {
  visibility: hidden
}

.inline-group .tabular tr.has_original td {
    padding-top: 1em;
}

/*
*   Make the select box of the persons mentioned larger
*/
select#id_persons_mentioned {
  min-height: 500px;
  min-width: 50%;
}

select option{
  padding:10px;
  font-size:90%
}

@media (min-width: 970px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
