.columns {
    -webkit-column-width:   225px;
    -moz-column-width:      225px;
    -o-column-width:        225px;
    -ms-column-width:       225px;
    column-width:           225px;
    margin-top: 15px;
}

.categoryeditor, .categoryauthor, .categorytranslator {

	display: none;
}

#filter-none:hover {
 background-color: #ebebeb;
 color: black;
}

#filter-author:hover {
 background-color: #ebebeb;
 color: black;
}

#filter-translator:hover {
 background-color: #ebebeb;
 color: black;
}

#filter-editor:hover {
 background-color: #ebebeb;
 color: black;
}

#download-menu {
    padding: 0;
    margin-top: -10px;  /* fudge for now to clear above graph control panel */
    margin-right: 70px;
    float: right;
}

#download-menu .dropdown {
    z-index: 1005;
}

#download-menu-dropdown {
    color: black;
}

#download-menu-dropdown:hover {
    background-color: #ebebeb;
}

#download-menu ul {
    margin: 0;
    padding: 0;
}

#lovely-things-list {
	margin-top: 15px;
}

#lovely-things-list span {
	margin: 15px;
}

.filter {
	margin-top: 5px;
}