{% comment %} menu to download graph data as graphml or gml;
expects graphml_url and gml_url variables to be set. {% endcomment %}
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span class="fa fa-download"></span><a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" href="{{ gml_url }}">Download as GML</a></li>
        <li role="presentation"><a role="menuitem" href="{{ graphml_url }}">Download as GraphML</a></li>
    </ul>
</div>

