{% extends 'site_base.html' %}
{# list journal contributors (authors, editors, translators) #}
{% load static %}

{% block page-subtitle %} | Journal Contributors {% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'people:list' %}" class="active">Journal Contributors</a></li>
{% endblock %}

{% block content %}
{# TODO: use page_base ? #}
<section class="row">
    <div class="col-sm-12">  {# why col-sm-12 vs col-lg-12 in content pages? #}
        <div class="content">
            <h1>Journal Contributors</h1>
            <p class="lead">Track {{ object_list.count }} people as authors, editors, and translators.</p>

            <div id="authors">
                <div class="col-sm-8 filter-list">
            {# FIXME: eultheme filter class is interfering with styles here #}
                    <a class="filter" data="all">All</a>
                    <a class="filter" data="author">Author</a>
                    <a class="filter" data="editor">Editor</a>
                    <a class="filter" data="translate">Translator</a>
                </div>
                <div class="input-group col-md-4">
                    <input type="text" class="search" placeholder="Search People" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>

                </div>

                <ul class="list col-sm-12">
                {% for person in object_list %}
                <li class="col-lg-3 col-md-4 col-sm-6">
                    <a class="tile" href="{% url 'people:person' person.slug %}">
                        <div class="count">
                            {% if person.num_created %}
                                <div class="author">{{ person.num_created }}</div>
                            {% endif %}
                            {% if person.num_edited %}
                                <div class="editor">{{ person.num_edited }}</div>
                            {% endif %}
                            {% if person.num_translated %}
                                <div class="translate">{{ person.num_translated }}</div>
                            {% endif %}
                        </div>
                        <div class="title">{{ person }}</div>
                    </a>
                </li>
                {% endfor %}

            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script src="{% static 'js/people.js' %}"></script>
{% endblock %}

