{% extends 'site_base.html' %}
{# display details for a single person #}
{% load journal_extras %}

{% block page-subtitle %} | People | {{ person.firstname_lastname }}{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'people:list' %}">People</a></li>
  <li class="active">{{ person.firstname_lastname }}</li>
{% endblock %}

{% block content %}
{# todo: page content? #}
<section class="row">
    <div class="col-lg-12">
        <div class="content">

<div class="top-bar">
    <h1>{{ person.firstname_lastname }}</h1>
    <a class="btn btn-secondary btn-connect" href="{% url 'people:egograph' person.slug %}">View Connections</a>
</div>

{% comment %}  TODO
<div class="alternate">
Amiri Baraka, Leroi Jones
</div>
{% endcomment %}

{% comment %}  jump links disabled for now, based on resonance design
{# only display nav if at least two sections are present #}
{% if person.items_created.all.exists and person.issues_edited.all.exists or person.items_created.all.exists and person.items_translated.all.exists or person.items_translated.all.exists and person.issues_edited.all.exists %}
<div>
    <ul>
        {% if person.items_created.all.exists %}
        <li><a href="#author">Author</a></li>
        {% endif %}
        {% if person.issues_edited.all.exists %}
        <li><a href="#editor">Editor</a></li>
        {% endif %}
        {% if person.items_translated.all.exists %}
        <li><a href="#translator">Translator</a></li>
        {% endif %}
    <ul>
</div>
{% endif %}
{% endcomment %}

{% if person.items_created.all.exists %}

<h2 class="author count">As Author<span class="author">{{ person.items_created.all|length }}</span></h2>

{# group by journal then by issue for nested list of items by journal/issue #}
{% regroup person.items_created.all by issue.journal as items_by_journal %}
{% for item_group in items_by_journal %}
    {% with journal=item_group.grouper %}
    <h3><a href="{% url 'journals:journal' journal.slug %}">{{ journal }}</a></h3>
        <dl>
        {% regroup item_group.list by issue as items_by_issue %}
        {% for issue_items in items_by_issue %}
            {% with issue=issue_items.grouper %}
            <dt>{% include 'journals/snippets/issue_link.html' %}</dt>

                {% for item in issue_items.list %}
                <dd>
                {{ item }}{% if item.translators.all %}, trans.
                {% for translator in item.translators.all %}
                <a href="{{translator.get_absolute_url}}">{{translator}}</a>{% if item.translators.all.count == 1 %}{% elif forloop.counter == item.translators.all.count %}{% else %},{% endif %}
                {% endfor %}
                {% endif %}
                {# display person's name used for this piece if set #}
                {% for cn in item.creatorname_set.all %}
                    {% if cn.person == person and cn.name_used %}
                    <i>(as {{ cn.name_used }})</i>
                    {% endif %}
                {% endfor %}
                {# display co-authors if any #}
                {% if item.creatorname_set.count > 1 %}
                    <p class="co-authors">With
                    {% for cn in item.creatorname_set.all %}
                        {% if cn.person != person %} {# don't display current person #}
                            <span class="name"><a href="{{ cn.person.get_absolute_url }}">
                                {{ cn.person.firstname_lastname }}</a>{% if cn.name %} (as {{ cn.name }}){% endif %}</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
            </dd>
            {% endfor %}
            {% endwith %} {# end issue group #}
        {% endfor %}
    </dl> {# end journal group #}
    {% endwith %}
{% endfor %}
{% endif %}

{% if person.issues_edited.all.exists %}

<h2 class="editor count">As Editor<span class="editor">{{ person.issues_edited.all|length }}</span></h2>
{# group issues by journal to generate nested list #}
{% regroup person.issues_edited.all by journal as issues_by_journal %}

{% for issue_group in issues_by_journal %}
    {% with journal=issue_group.grouper %}
    <h3><a href="{% url 'journals:journal' journal.slug %}">{{ journal }}</a></h3>
    <dl>
        {% for issue in issue_group.list %}
          <dt>{% include 'journals/snippets/issue_link.html' with ed_with=person %}</dt>
        {% endfor %}
    </dl>
    {% endwith %}
{% endfor %}

{% endif %}

{% if person.items_translated.all.exists %} {# NOTE: basically the same as author #}
<h2 class="translate count">As Translator<span class="translate">{{ person.items_translated.all|length }}</span></h2>
{# group by journal then by issue for nested list of items by journal/issue #}
{% regroup person.items_translated.all by issue.journal as items_by_journal %}

{% for item_group in items_by_journal %}
    {% with journal=item_group.grouper %}
    <h3><a href="{% url 'journals:journal' journal.slug %}">{{ journal }}</a></h3>
        <dl>
        {% regroup item_group.list by issue as items_by_issue %}
        {% for issue_items in items_by_issue %}
            {% with issue=issue_items.grouper %}
            <dt>{% include 'journals/snippets/issue_link.html' %}</dt>
                {% for item in issue_items.list %}
                <dd>{{ item }}{% if item.creators.all %}, by
                    {% for creator in item.creators.all %}
                    <a href="{{creator.get_absolute_url}}">{{creator.firstname_lastname}}</a>{% if item.creators.all.count == 1 %}{% elif forloop.counter == item.creators.all.count %}{% else %},{% endif %}
                    {% endfor %}
                {% endif %}
                </dd>
                {% endfor %}
            {% endwith %} {# end issue group #}
        {% endfor %}
    </dl>{# end journal group #}
    {% endwith %}
{% endfor %}

{% endif %}

</div>
</div>
</section>
{% endblock %}