{% extends 'network/graph_base.html' %}
{% load static %}
{# display an egograph for a single journal contributor #}

{% block page-subtitle %} | People | {{ person.firstname_lastname }} | Egograph{% endblock %}

{% block pregraph-content %}
<ol class="breadcrumb">
  <li><a href="{% url 'people:list' %}">People</a></li>
  <li><a href="{% url 'people:person' person.slug %}">{{ person.firstname_lastname }}</a></li>
  <li class="active">Egograph</li>
</ol>

{% url 'people:egograph-export' person.slug 'graphml' as graphml_url %}
{% url 'people:egograph-export' person.slug 'gml' as gml_url %}
{% include 'network/snippets/download_graph.html' %}

<h2>{{ person.firstname_lastname }}'s Connections</h2>

{% endblock %}

{% block graph-init %}
<script>
var s = init_sigma_graph({
  json_url: "{% url 'people:egograph-json' person.slug %}",
  }
});
</script>
{% endblock %}

