{% extends 'network/graph_base.html' %}
{% load static %}
{# display an egograph for a single journal contributor #}

{% block pregraph-content %}
<ol class="breadcrumb">
  <li><a href="{% url 'people:list' %}">People</a></li>
  <li><a href="{% url 'people:person' person.slug %}">{{ person.firstname_lastname }}</a></li>
  <li class="active">Egograph</li>
</ol>

<p>Download this graph as
  <a href="{% url 'people:egograph-export' person.slug 'gexf' %}">GEXF</a> or
  <a href="{% url 'people:egograph-export' person.slug 'graphml' %}">GraphML</a>
</p>
{% endblock %}

{% block json-url %}{% url 'people:egograph-json' person.slug %}{% endblock %}

