<ul class="nav navbar-nav" id="download-nav">
{% if url_var == 'people:egograph' %}
	<li><a href="{% url 'people:egograph' person.slug %}">View Connections</a></li>
{% endif %}
	<li>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <i class="fa fa-download"></i> Download 
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    
		    <li><a href="{% url url_var url_var2 'gexf' %}">Download as GEXF</a></li>
		    <li><a href="{% url url_var url_var2 'graphml' %}">Download as GraphML</a></li>
		  </ul>
		</div>

	</li>
</ul>

