{# link to an issue, displaying label, date, and editors #}
{% load journal_extras %}
{% with editors=issue.editors.all %}
<a href="{% url 'journals:issue' issue.journal.slug issue.id %}">{{ issue.label }}</a>
    ({{ issue.date }}){% if ed_with %}{% if editors|all_except:ed_with %},
    edited with 
    {% for editor in editors|all_except:ed_with %}
    <a href="{{translator.get_absolute_url}}">{{editor.firstname_lastname}}</a>,
    {% endfor %}
  {% endif %}
{% else %},
   {% if editors %}
   ed. 
{% for editor in editors %}
 <a href="{{translator.get_absolute_url}}">{{editor.firstname_lastname}}</a>,
  {% endfor %}
   {% endif %}
{% endif %}{% endwith %}